<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<form class="form" action="<%= editing ? '/edit-user' : '/add-user' %>" method="post">
			<div class="flex">
				<label>
					<input
						required=""
						placeholder=""
						type="text"
						name="name"
						class="input"
						value="<%= editing ? userData.name : '' %>"
					/>
					<span>name</span>
				</label>

				<label>
					<input
						required=""
						placeholder=""
						type="text"
						name="userID"
						class="input"
						value="<%= editing ? userData.userID : '' %>"
					/>
					<span>user ID</span>
				</label>
			</div>

			<label>
				<input
					required=""
					placeholder=""
					type="email"
					name="email"
					class="input"
					value="<%= editing ? userData.email : '' %>"
				/>
				<span>email</span>
			</label>

			<label>
				<input
					required=""
					type="number"
					placeholder=""
					name="age"
					class="input"
					value="<%= editing ? userData.age : '' %>"
				/>
				<span>age</span>
			</label>
			<label>
				<textarea name="bio" rows="3" placeholder="" class="input01">
<%= editing ? userData.bio : '' %></textarea
				>
				<span>bio</span>
			</label>

			<button class="fancy" href="#" type="submit">
				<span class="top-key"></span>
				<span class="text"><%= editing ? 'Edit' : 'Submit' %></span>
				<span class="bottom-key-1"></span>
				<span class="bottom-key-2"></span>
			</button>
		</form>

		<h2>
			<a style="color: aliceblue" href="/admin">Admin Panel</a>
		</h2>
	</body>
</html>
